* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mobile-breakpoint: 375px;
  --desktop-breakpoint: 1440px;
  --clr-body: hsl(212, 45%, 89%);
  --clr-card-title: hsl(218, 44%, 22%);
  --clr-card-content: hsl(220, 15%, 55%);
  --clr-card: hsl(0, 0%, 100%);
  --fs-p: 15px;
  --ff-main: "Outfit", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* utility classes */
.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-ai-c {
  align-items: center;
}
/* ############## */

img {
  display: block;
  max-width: 100%;
}

html,
body {
  min-height: 100vh;
}

h1,
p {
  font-size: inherit;
}

body {
  background-color: var(--clr-body);
  font-family: var(--ff-main);
  font-size: var(--fs-p);
  color: var(--clr-card-content);
}

.card {
  width: 85%;
  min-width: 250px;
  max-width: 318.75px;
  background-color: var(--clr-card);
  margin: 0 auto;
  border-radius: 20px;
}

.qr-code {
  padding: 1em 1em 0;
  border-radius: 10px;
  /* background-color: blue; */
}

.qr-code-img {
  border-radius: 10px;
}

.card-content {
  padding: 2em 2em 2.5em;
  text-align: center;
}

.card-title {
  color: var(--clr-card-title);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.9em;
}

.card-text {
  font-weight: 400;
}
